@font-face {
    font-family: "Nexa Light";
    src: url("fonts/NexaDemo-Light.otf");
    src: url("fonts/NexaDemo-Light.otf") format("opentype");
}

@font-face {
    font-family: "Nexa Bold";
    src: url("fonts/NexaDemo-Bold.otf");
    src: url("fonts/NexaDemo-Bold.otf") format("opentype");
}

/*---------------------Semantic Elements---------------------*/

h1, h2, a {
    text-align: center;
    font-family: 'Nexa Bold';
}

p {
    font-family: 'Nexa Light';
}

section figure img {
    overflow: hidden;
}

li {
    list-style: none;
}

figure {
    width: 15em;
}
svg rect {
    stroke: rgb(56, 56, 56);
    stroke-width: .2rem;
}
svg line {
    stroke: rgb(77, 77, 77);
    stroke-width: .1rem;
}
/*---------------------Classes---------------------*/

.home {
    display: block;
}

.one, .two, .three, .four {
    display: none;
}

.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #ffffff;
    cursor: pointer;
}

.active1, .btn:hover {
    background-color: #666 !important;
    color: white;
    border: 1px solid rgb(59, 59, 59) !important;
}
.carousel-item.carouselOne {
    height: 400px
}
.carousel-item.carouselTwo {
    height: 600px;
}

/*---------------------IDs---------------------*/

#bird {
    stroke: rgb(0, 0, 0);
}

#bird2 {
    stroke: rgb(255, 255, 255);
    fill: rgb(129, 167, 197);
    stroke-width: 0.5 !important;
}
#navbar {
    overflow: hidden;
    background-color: #333;
    z-index: 16;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
/************************Font Awsome Styling*************************/

.fa-facebook-square, .fa-instagram, .fa-twitter-square, .fa-pinterest-square {
    font-size: 3rem;
}
.fa-facebook-square:hover, .fa-instagram:hover, .fa-twitter-square:hover, .fa-pinterest-square:hover {
    color:white;
}
/************************Form Styling*************************/

/*---------------------Form Semantic Elements---------------------*/

form {
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-image: url("../images/mockingbird.svg"), linear-gradient(180deg, rgb(87, 139, 170), rgb(40, 90, 120), rgb(122, 179, 122), rgb(129, 167, 197)) !important;
    width: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: hue;
}

video {
    width: 100%;
    border-radius: 30px;
}

fieldset {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto;
}

fieldset h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px black;
    text-align: end;
}

legend {
    font-family: garamond;
    font-size: 10rem;
    color: rgb(238, 237, 237);
    
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px black;
}

img {
    width: 100%;
}

/*---------------------Form Data-Descr---------------------*/

span[data-descr] {
    text-decoration: none;
    position: relative;
    cursor: help;
}

span[data-descr]:hover::after {
    content: attr(data-descr);
    position: absolute;
    left: 0;
    top: 24px;
    min-width: 200px;
    border: 1px #aaaaaa solid;
    border-radius: 10px;
    background-color: #ffffcc;
    padding: 12px;
    color: #000000;
    font-size: 14px;
}

/*---------------------Form Input Type---------------------*/

input[type=submit] {
    background-color: #629168;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

input:not(:focus):not(:placeholder-shown):invalid {
    background: rgb(141, 79, 79);
    color: rgb(231, 231, 225);
}

input:not(:focus):not(:placeholder-shown):invalid+.nameError {
    display: block;
}

input {
    grid-column: 1;
    grid-row: auto;
}

input[type=text], input[type="email"], input[type="password"], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Nexa Light', Arial, Helvetica, sans-serif;
}

/*---------------------Form IDs---------------------*/

#logoGrid figure {
    width: 9em;
    grid-row: 1 / span 2;
}

#logoGrid h1 {
    grid-row: 1;
    font-family: garamond;

    text-transform: uppercase;
    
}

#logoGrid h2 {
    grid-row: 2;
    font-family: garamond;

    text-transform: capitalize;
    
}

#logoGrid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
}





#error {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(238, 237, 237);
}

#errorMsg {
    justify-self: center;
    align-self: center;
    margin-bottom: 13px;
}

#help:hover .help {
    content: "Some Help";
    display: block !important;
    position: relative;
}

/*---------------------Form Classes---------------------*/
.circle {
    grid-column: 2;
    grid-row: auto;
}
.inputGrid {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto;
}
.nameError {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    justify-content: space-between;
}

.fa-times-circle::before {
    font-size: 2em;
    color: #ff0000;
    -webkit-text-stroke: 2px #5c0909;
}

input[type=submit]:hover {
    background-color: #85bb8c;
    font-family: "Font Awesome 5 Free";
    content: "\f13d";
}

.help {
    display: none;
    width: 300px;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    top: 5px;
    left: -35px;
    font-family: "Font Awesome 5 Free";
    content: "\f058";
    font-size: 2.2rem;
}

.invalid {
    display: none;
}
.modal-content {
    background-color: transparent !important;
}